*.csv filter=lfs diff=lfs merge=lfs -text
*.nb.html,[[:space:]]*.knit.md filter=lfs diff=lfs merge=lfs -text
*.nb.html filter=lfs diff=lfs merge=lfs -text
*knit.md filter=lfs diff=lfs merge=lfs -text
*.partial filter=lfs diff=lfs merge=lfs -text
